#tourSection {
    background-color: black;
    padding-top: 4%;
    text-align: center;
}

#tourSection th {
    font-family: 'Cinzel';
}

#tourSection td {
    font-family: 'Kalam';
    font-size: 18px;
    color: white;
    text-shadow:
        0 0 5px #fff,
        0 0 40px #d00404;
}

.tourPosterImage {
    width: 30%;
    opacity: .5;
}

.tourTitle {
    font-size: 50px;
    color: #d00404;
    padding-bottom: 3%;
    font-family: 'Cinzel';
}

.list-group-item {
    background-color: black !important;
    color: #d00404 !important;
}

.listGroup {
    margin-top: 5%;
}

.tableHeader {
    color: #d00404
}

/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 225px) and (max-width: 450px) and (orientation: portrait) {

    #tourSection td:nth-child(3) {
        display: none;
    }

    #tourSection th:nth-child(3) {
        display: none;
    }

    #tourSection th {
        font-size: 20px;
        text-decoration: 3px underline solid #d00404;
        padding-bottom: 5%;
    }

    #tourSection td {
        font-size: 16px;
    }

    .tourPosterImage {
        width: 95%;
    }

    .tourTitle {
        font-size: 40px;
        padding-bottom: 5%;
    }

}

@media only screen and (min-width: 480px) and (max-width: 1000px) and (orientation: landscape) {
    .tourPosterImage {
        width: 85%;
    }

    #tourSection th {
        font-size: 30px;
        text-decoration: 3px underline solid #d00404;
        padding-bottom: 2%;
    }

    #tourSection td {
        font-size: 20px;
    }
}

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #tourSection td:nth-child(3) {
        display: none;
    }

    #tourSection th:nth-child(3) {
        display: none;
    }
    .tourTitle {
        font-size: 60px;
        letter-spacing: 3px;
    }
    .tourPosterImage {
        width: 90%;
    }

    #tourSection th {
        font-size: 40px;
        text-decoration: 3px underline solid #d00404;
        padding-bottom: 2%;
    }

    #tourSection td {
        font-size: 30px;
    }


    

}

/* 
Laptops Screens */
@media only screen and (min-width: 1145px) {

    .tableHeader {
        font-size: 23px;
        font-family: 'Cinzel';
        letter-spacing: 3px;
    }

    #tourSection td {
        font-family: 'Cinzel';
        font-size: 18px;
        color: white;
        text-shadow:
            0 0 5px #fff,
            0 0 40px #d00404;
    }

}

/* Extra Large Screens */
@media only screen and (min-width: 1281px) {}