#albumSection {
  background-color: black !important;
  padding-top: 4%;
  font-family: 'Cinzel';
}
#albumSection h3 {
  font-family: 'Kalam';
  opacity: .6;
  text-shadow:
      0 0 20px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #fff,
      0 0 82px #fff,
      0 0 92px #d00404,
      0 0 102px #d00404,
      0 0 151px #d00404;
}
#albumSection p {
  opacity: .6;
  text-shadow: 
  0 0 40px #fff,
  0 0 40px #fff,
  0 0 21px #fff,
  0 0 42px #fff,
  0 0 82px #fff,
  0 0 92px #d00404,
  0 0 102px #d00404,
  0 0 151px #d00404;
}
.albumTitle {
  color: #d00404;
}


.linkButton {
  opacity: .8;
  text-shadow:
  0 0 50px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #fff,
  0 0 82px #fff,
  0 0 92px #d00404,
  0 0 102px #d00404,
  0 0 151px #d00404;
}
.albumCover {
  opacity: .3;
}




/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 225px) and (max-width: 450px) and (orientation: portrait) {
  .albumTitle {
    font-size: 50px;
    padding-bottom: 5%;
    padding-top: 8%;
  }

  .albumCover {
    height: 300px;
    width:  300px;
  }

  #albumSection h3 {
    font-family: 'Kalam';
    opacity: .5;
    font-size: 20px;
    letter-spacing: 3px;
  }
   #albumSection p {
    font-family: 'Kalam';
    opacity: .5;
   }

}

@media only screen and (min-width: 480px) and (max-width: 1000px) and (orientation: landscape) {
}

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}
/* 
Laptops Screens */
@media only screen and (min-width: 1145px) {

  .albumTitle {
      font-size: 60px;
      color: #d00404;
      padding-bottom: 3%;
      font-family: 'Cinzel';
      letter-spacing: 3px;
    }
  
    .albumCover {
      height: 400px;
      width: 400px;
      opacity: .3;
    }

}

/* Extra Large Screens */
@media only screen and (min-width: 1281px) {
}