#contactSection {
    background-color: black;
    padding-top: 3%;
    text-align: center;
}
.contactGroup {
    margin: auto;

}
.socialMediaSection {
    margin-top: 5%;
}
.mailingListSection {
    text-align: center;
    margin: auto 0;
    box-shadow: #d00404  0px 0px 20px;
    margin-right: 3%;
    padding-bottom: 2%;
}
.formSection {
    margin: auto;  
    width: 40% !important;
}
.formInput {
    margin: 4% !important;
}
.bookingSection {
    box-shadow: #d00404  0px 0px 25px;
}
.bookingButton {
    background-color: #d00404 !important;
    border: 2px solid #d00404 !important;
}
.buttonShift {
    padding-top: 5%;
}
.contactTitle {
    color: #d00404;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Cinzel';
    padding-bottom: 5%;
}
.icons {
    padding: 1%;
    height: 4%;
    width: 4%;
}
.submitButton {
    background-color: #d00404 !important;
    border: 2px solid #d00404 !important;
}


/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 225px) and (max-width: 450px) and (orientation: portrait) {

    .contactTitle {
        padding-top: 4%;
    }
    .formSection {
        width: 60% !important;
        padding-bottom: 10%;
    }
    .mailingListSection {
        margin-bottom: 10%;
        margin-top: 4% !important;
    }
    .bookingSection {
        padding-top: 4%;
        padding-bottom: 20%;
    }
    .icons {
        height: 10%;
        width: 10%;
        margin: 2%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1000px) and (orientation: landscape) {
    #contactSection {
        padding-top: 8%;
    }
    .contactTitle {
        font-size: 30px;
        padding-top: 5%;
    }
    .formSection {
        width: 70% !important;
    }
    .submitButton {
        margin-top: 5%;
        padding: 2% 15% 2% 15% !important;
    }
    .buttonShift {
        padding-top: 20%;
    }

}

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}
/* 
Laptops Screens */
@media only screen and (min-width: 1145px) {

}

/* Extra Large Screens */
@media only screen and (min-width: 1281px) {
}