#mainSection {
    background-color: black;
}

.videoSize {
    width: 80% !important;
    text-align: center;
}


/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 225px) and (max-width: 450px) and (orientation: portrait) {
    .conwayLogo {
            width: 100% !important;
        }
    
        .videoSize {
            width: 100% !important;
        }
  }
  
  @media only screen and (min-width: 480px) and (max-width: 1000px) and (orientation: landscape) {
  }
  
  /* Tablet Portrait */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  }
  /* 
  Laptops Screens */
  @media only screen and (min-width: 1145px) {
    .conwayLogo {
    padding-bottom: 9% !important;
    }

  
  }
  
  /* Extra Large Screens */
  @media only screen and (min-width: 1281px) {
  }