#tourSection {
    background-color: black;
    padding-top: 4%;
}

.tourPosterImage {
    width: 30%;
    opacity: .5;
}

.tourTitle {
    font-size: 50px;
    color: #d00404;
    padding-bottom: 3%;
    font-family: 'Cinzel';
}

.list-group-item {
    background-color: black !important;
    color: #d00404 !important;
}

.listGroup {
    margin-top: 5%;
}
.tableHeader {
    color: #d00404
}



/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 225px) and (max-width: 450px) and (orientation: portrait) {

    #tourSection td:nth-child(3){
        display: none;
        }
    #tourSection th:nth-child(3){
        display: none;
    }

}

@media only screen and (min-width: 480px) and (max-width: 1000px) and (orientation: landscape) {
}

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}
/* 
Laptops Screens */
@media only screen and (min-width: 1145px) {

    .tableHeader{
        font-size: 23px;
        font-family: 'Cinzel';
        letter-spacing: 3px;
        }
    
        #tourSection td {
        font-family: 'Cinzel';
        font-size: 18px;
        color: white;
        text-shadow: 
        0 0 5px #fff,
        0 0 40px #d00404;
        }

}

/* Extra Large Screens */
@media only screen and (min-width: 1281px) {
}