#videoSection {
    background-color: black;
    text-align: center;
    font-family: 'Cinzel';
    padding-top: 4%;

}
.videoTitle {
    font-size: 50px;
    padding-bottom: 3%;
    color: #d00404;
}
.item {
    margin: 5%;
    opacity: .4;
}
.alice-carousel__next-btn{
    width: 3% !important;
    font-size: 40px;
}
.alice-carousel__next-btn-item{
    color: #d00404;
    opacity: .6;
}
.alice-carousel__prev-btn-item{
    color: #d00404;
    opacity: .6;
}
.alice-carousel__prev-btn{
    width: 3% !important;
    font-size: 40px;
}
.alice-carousel__dots-item:not(.__custom).__active{
    background-color: #d00404;
}
.alice-carousel__dots-item:not(.__custom):hover{
    background-color: #d00404;
}
.alice-carousel__dots-item:not(.__custom){
    background-color: #f7866f;
}




/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 225px) and (max-width: 450px) and (orientation: portrait) {
    .videoTitle {
        font-size: 50px;
    }
    .alice-carousel__next-btn{
        width: 40% !important;
        font-size: 60px;
    }
    .alice-carousel__prev-btn{
        font-size: 60px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1000px) and (orientation: landscape) {
}

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}
/* 
Laptops Screens */
@media only screen and (min-width: 1145px) {
    .videoTitle {
    font-size: 50px;
    padding-bottom: 3%;
}

}

/* Extra Large Screens */
@media only screen and (min-width: 1281px) {
}