GLobal Settings
#navContainer {
    width: 100%;
    background-color: black;
    font-family: 'Cairo', sans-serif !important;
  }
  .navLinks {
    color: red !important;
    letter-spacing: 94px;
  }
  .nav-link {
    color: #d00404 !important;
    font-weight: bolder;
    float: right;
    opacity: .6;
  }
  
  
  /* // Small devices (landscape phones, 576px and up) */
  @media only screen and (min-width: 225px) and (max-width: 450px) and (orientation: portrait) {
  }
  
  @media only screen and (min-width: 480px) and (max-width: 1000px) and (orientation: landscape) {
  }
  
  /* Tablet Portrait */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #navContainer {
      background-color: black;
      font-family: 'Cairo', sans-serif !important;
      font-size: 20px !important;

    }
  }
  /* 
  Laptops Screens */
  @media only screen and (min-width: 1145px) {
    #navContainer {
    font-family: 'Cairo', sans-serif !important;
    font-size: 20px;
    width: 100%;
    }
  
  }
  
  /* Extra Large Screens */
  @media only screen and (min-width: 1281px) {
  }